section.cmcrc
  div.cmcrc__wrapper
    include svgCircle
    .cmcrc__rightBlock
      .cmcrc__logo
        +image( 'cmcrc', 'logo.png' )
      .cmcrc__title
        h1 CMCMRC
      .cmcrc__image
        +image( 'cmcrc', 'photo.jpg' )

      .cmcrc__slider
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient
        .cmcrc__slider-item
          span Collaborative research institute established in 2001 to make Caapitan Markets fairer and more efficient


